# –ü—Ä–æ–≥–Ω–æ–∑ –∏–Ω—Ñ–ª—è—Ü–∏–∏. –ö–µ–π—Å 1 –¥–ª—è —Ö–∞–∫–∞—Ç–æ–Ω–∞. –°–µ–Ω—Ç—è–±—Ä—å 2022

–ö–æ–º–∞–Ω–¥–∞: –¶–∏–∫–ª–∏—á–Ω–æ—Å—Ç—å –¥–µ–π—Å—Ç–≤–∏–π

**–í –¥–∞–Ω–Ω–æ–º –Ω–æ—É—Ç–±—É–∫–µ –ø—Ä–∏–≤–µ–¥–µ–Ω –∫–æ–Ω–µ—á–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∫–æ–¥–∞, –æ–¥–Ω–∞–∫–æ –±—ã–ª–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏—Ç–µ—Ä–∞—Ü–∏–π –¥–æ –µ–≥–æ –ø–æ–ª—É—á–µ–Ω–∏—è:**

  1. –í –ø–µ—Ä–≤–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –ø—Ä–æ–≥—Ä–∞–º–º—ã –±—ã–ª–∞ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∞ –º–æ–¥–µ–ª—å ARIMA, –∫–æ—Ç–æ—Ä–∞—è –¥–µ–ª–∞–ª–∞ –ø—Ä–æ–≥–Ω–æ–∑ —Ç–æ–ª—å–∫–æ –∏—Å—Ö–æ–¥—è –∏–∑ —Ü–µ–ª–µ–≤–æ–π —Ñ—É–Ω–∫—Ü–∏–∏. –ü–æ–¥—Ö–æ–¥ –±—ã–ª –Ω–µ –≤–µ—Ä–Ω—ã–π –∏ –¥–∞–Ω–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ –±—ã–ª–æ –ø—Ä–∏–Ω—è—Ç–æ –æ—Ç–±—Ä–æ—Å–∏—Ç—å.
  2. –í–æ –≤—Ç–æ—Ä–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –ø—Ä–æ–≥—Ä–∞–º–º—ã —É–ø–æ—Ä –±—ã–ª —Å–∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∏—Ä–æ–≤–∞–Ω –Ω–∞ EDA - –∞–Ω–∞–ª–∏–∑–µ –≤—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ DS_test. –ò–∑—É—á–∞–ª–∞—Å—å –ø—Ä–µ–¥–º–µ—Ç–Ω–∞—è –æ–±–ª–∞—Å—Ç—å –∏–Ω—Ñ–ª—è—Ü–∏–∏ –∏ –∫–∞–∫ –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏–∑ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö –º–æ–≥—É—Ç –Ω–∞ –Ω–µ–µ –≤–ª–∏—è—Ç—å. –ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –±—ã–ª —É–º–µ–Ω—å—à–µ–Ω, –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Å–Ω–æ–≤–Ω–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞ –±—ã–ª–æ –ø—Ä–∏–Ω—è—Ç–æ —Ä–µ—à–µ–Ω–∏–µ –¥–æ–±–∞–≤–∏—Ç—å –ø—Ä–∏–∑–Ω–∞–∫ PCI_Multi - –∫–æ—ç—Ñ—Ñ–∏—Ü–µ–Ω—Ç\ –º–Ω–æ–∂–∏—Ç–µ–ª—å –∏–Ω–¥–µ–∫—Å–∞. –ü–µ—Ä–µ–¥ —Ç–µ–º –∫–∞–∫ –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–Ω–æ–∂–∏—Ç–µ–ª—å –∏–Ω–¥–µ–∫—Å–∞, —Ä—è–¥ –±—ã–ª –ø—Ä–∏–≤–µ–¥–µ–Ω –∫ —Ä–µ–≥—É–ª—è—Ä–Ω–æ–º—É (—É–±—Ä–∞–Ω—ã –≤—Ä–µ–º–µ–Ω–Ω—ã–µ –ø—Ä–æ–±–µ–ª—ã, –Ω–∞ –º–µ—Å—Ç–µ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Ü–µ–Ω—ã - –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–µ–π (–ø–æ–ª–∞–≥–∞–µ–º, —á—Ç–æ —Ü–µ–Ω–∞ –Ω–µ –º–µ–Ω—è–ª–∞—Å—å –∑–∞ –ø—Ä–æ–º–µ–∂—É—Ç–æ–∫ –≤—Ä–µ–º–µ–Ω–∏, –∫–æ–≥–¥–∞ –Ω–µ –±—ã–ª–æ –ø–æ–∫–∞–∑–∞–Ω–∏–π)). –ò –±—ã–ª–∏ —É–±—Ä–∞–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã –¥–∞—Ç —Å —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ–º –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Ü–µ–Ω—ã, –ø–æ–¥—Ö–æ–¥ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–ª–µ–≥–∫–∞ –≥—Ä—É–±—ã–π, –Ω–æ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω—É—é –ø–æ—Ç–µ—Ä—é –≤ —Ç–æ—á–Ω–æ—Å—Ç–∏ –Ω–µ –¥–∞–ª. –ü–æ—Å–ª–µ, –¥–∞–Ω–Ω—ã–µ –±—ã–ª–∏ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω—ã –≤ —Å—Ç—Ä–æ–∫–∏ –ø–æ –º–µ—Å—è—Ü–∞–º (+ –≥–æ–¥–∞–º), –ø—Ä–∏ —ç—Ç–æ–º –º–Ω–æ–∂–∏—Ç–µ–ª—å –∏–Ω–¥–µ–∫—Å–∞ –≤–∑—è–ª—Å—è –∫–∞–∫ —Å—Ä–µ–¥–Ω–µ–µ –µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–µ –∑–∞ –º–µ—Å—è—Ü (mean value). –î–ª—è –æ–±—É—á–µ–Ω–∏—è –±—ã–ª–æ –≤—ã–±—Ä–∞–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å RandomForestRegressor –∏–∑-–∑–∞ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è –¥–µ—Ä–µ–≤—å–µ–≤ –∏ –∏—Ö —Ç–æ—á–Ω–æ—Å—Ç–∏. –†–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ–ª—É—á–∏–ª—Å—è —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä–∏—Ç–µ–ª—å–Ω—ã–º (MAE = 0.3), –Ω–æ —Ö–æ—Ç–µ–ª–æ—Å—å —É–ª—É—á—à–∏—Ç—å –º–æ–¥–µ–ª—å.
  3. –í —Ç—Ä–µ—Ç—å–µ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –±—ã–ª–æ –ø—Ä–∏–Ω—è—Ç–æ —Ä–µ—à–µ–Ω–∏–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –æ–±—É—á–µ–Ω–∏—è blending ensemble, EDA –æ—Å—Ç–∞–ª—Å—è —Ç–µ–º –∂–µ. –í –∫–∞—á–µ—Å—Ç–≤–µ –º–æ–¥–µ–ª–µ–π –¥–ª—è –±–ª–µ–Ω–¥–∞ –±—ã–ª–∏ –≤—ã–±—Ä–∞–Ω—ã RandomForestRegressor, XGBRegressor, LinearRegression, LASSO. –†–µ–∑—É–ª—å—Ç–∞—Ç —Ç–∞–∫–æ–≥–æ –±–ª–µ–Ω–¥–∞ –ø–æ–ª—É—á–∏–ª—Å—è –ª—É—á—à–µ - MAE = 0.2. 
  4. –í —á–µ—Ç–≤–µ—Ä—Ç–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –±—ã–ª–æ —Ä–µ—à–µ–Ω–æ –≤–∑—è—Ç—å –º–æ–¥–µ–ª–∏ –∏–∑ –±–ª–µ–Ω–¥–∞ –∏ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –∏—Ö –ø–æ –æ—Ç–¥–µ–ª—å–Ω–æ—Å—Ç–∏. –ò –ª—É—á—à–∏–º —Ä–µ—à–µ–Ω–∏–µ–º –æ–∫–∞–∑–∞–ª–æ—Å—å –æ–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏ XGBRegressor —Å –º–µ—Ç—Ä–∏–∫–æ–π MAE = 0.03. –ë—ã–ª–æ –ø—Ä–∏–Ω—è—Ç–æ –æ—Å—Ç–∞–≤–∏—Ç—å —ç—Ç—É –º–æ–¥–µ–ª—å –∏ –∑–∞–Ω—è—Ç—å—Å—è —Ç—é–Ω–æ–º –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤. –û–¥–Ω–∞–∫–æ, —Ç—å—é–Ω —É—Ö—É–¥—à–∏–ª –ø–æ–∫–∞–∑–∞–Ω–∏—è –º–µ—Ç—Ä–∏–∫–∏ (–≤–æ–∑–º–æ–∂–Ω–æ –æ—à–∏–±–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–∏—Å—Ç–∞ —Å —Ç—å—é–Ω–æ–º , –Ω–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Ç–∞–∫–æ–≤) –∏ –±—ã–ª–æ —Ä–µ—à–µ–Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å XGBRegressor —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ (objective ='reg:squarederror', n_estimators = 10, seed = 123), –∫–∞–∫ –±—ã–ª–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–æ –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ. üëç


---


  **–¢–∞–∫–∂–µ –≤ –Ω–æ—É—Ç–±—É–∫–µ –µ—Å—Ç—å 2 —Å–∫—Ä–∏–ø—Ç–∞ - forecast.py –∏ test_forecast.py:**

  **forecast.py** - –Ω–∞ –≤—Ö–æ–¥ –∞—Ä–≥—É–º–µ–Ω—Ç–∞–º–∏ –ø–æ–¥–∞–µ—Ç—Å—è –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É DS_train, —Å–ª–æ–≤–æ 'learn' –∏ –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É —Å —Ü–µ–ª–µ–≤—ã–º–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º–∏. –°–∫—Ä–∏–ø—Ç –ø–æ–≤—Ç–æ—Ä—è–µ—Ç –¥–µ–π—Å—Ç–≤–∏—è –Ω–æ—É—Ç–±—É–∫–∞ - –æ–±—É—á–∞–µ—Ç –º–æ–¥–µ–ª—å, —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç –µ–µ –≤ json –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –ø–µ—Ä–∏–æ–¥–æ–º + —Ü–µ–ª–µ–≤—ã–º–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–º–∏ (+ –¶–ü, –∫–æ—Ç–æ—Ä–∞—è –±—ã–ª–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∞) —Ç–∞–∫–∂–µ –≤ —Ñ–æ—Ä–º–∞—Ç json. –≠—Ç–æ—Ç —Å–∫—Ä–∏–ø—Ç –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è —Å–∞–π—Ç–∞ - –∏–Ω—Ç–µ—Ä—Ñ–µ—Å–∞, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Ä–∞–±–æ—Ç—É —Ä–∞–∑—Ä–∞–±–æ—Ç–∞–Ω–æ–≥–æ –∫–æ–¥–∞. *C–ª–æ–≤–æ 'forecast' –≤ –∞—Ä–≥—É–º–µ–Ω—Ç–∞—Ö - –Ω–∞—Ä–∞–±–æ—Ç–∫–∞ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ —Ä–∞–∑–≤–∏—Ç–∏—è, –ø–ª–∞–Ω–∏—Ä–æ–≤–∞–ª–∞—Å—å —Å–¥–µ–ª–∞—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ : learn - –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏ —Å –Ω—É–ª—è, add - –¥–ª—è –¥–æ–ø–æ–ª–Ω–µ–Ω–∏—è –º–æ–¥–µ–ª–∏ –Ω–æ–≤—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –∏ –¥–æ–æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏, predict - –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ —á–∞—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö —Ç–µ–∫—É—â–µ–≥–æ –º–µ—Å—è—Ü–∞ –∏ –ø–æ–ª—É—á–µ–Ω–∏—è –ø—Ä–æ–≥–Ω–æ–∑–∞ –ø–æ –Ω–∏–º*

  **test_forecast.py** - —Å–∫—Ä–∏–ø—Ç, –Ω–∞–ø–∏—Å–∞–Ω—ã–π –¥–ª—è –ø—Ä–æ—Ö–æ–∂–¥–µ–Ω–∏—è –ø–µ—Ä–∏–æ–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –Ω–∞ –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –∞–¥–∞–ø—Ç–∞—Ü–∏–∏, –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω–∞—è —Ä–∞–∑–Ω–∏—Ü–∞ - –≤–º–µ—Å—Ç–æ mae –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–Ω–∞—è –º–µ—Ç—Ä–∏–∫–∞ score –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç—Å—è —Ñ–∞–π–ª –≤ —Ñ–æ—Ä–º–∞—Ç–µ .txt —Å –º–µ—Ç—Ä–∏–∫–æ–π. –ö–∞–∫ –∞—Ä–≥—É–º–µ–Ω—Ç—ã  –¥–ª—è –≤—ã–∑–æ–≤–∞ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏, –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–∞–π–ª–∞ –¥–ª—è —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è —Å–∫–æ—Ä–∞, –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É —Å —Ü–µ–ª–µ–≤—ã–º–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏

### –ú–∞—É–Ω—Ç –¥–ª—è Google Colab

In [39]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

### –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [40]:
# –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn.metrics import mean_absolute_error # –º–µ—Ç—Ä–∏–∫–∞
import xgboost as xg  # –º–æ–¥–µ–ª—å

In [41]:
# –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ, –º–µ–Ω—è–µ–º –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏–µ –≤—Ä–µ–º–µ–Ω–Ω–æ–π –º–µ—Ç–∫–∏ –Ω–∞ –≥–æ–¥-–º–µ—Å—è—Ü
ds=pd.read_csv("/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/DS_train(2020-06--2022-06-01).csv", sep='\t', index_col='DateObserve')
ds.index = pd.to_datetime(ds.index).to_period('M')
ds

             WebPriceId StockStatus  CurrentPrice
DateObserve
2020-06               1     InStock          49.0
2020-09               1  OutOfStock           NaN
2020-09               1     InStock          49.0
2020-09               1  OutOfStock           NaN
2020-09               1     InStock          49.0
...                 ...         ...           ...
2022-04        10001000     InStock         291.0
2022-05        10001000     InStock         242.0
2022-05        10001000     InStock         231.0
2022-05        10001000     InStock         280.0
2022-05        10001000     InStock         335.0

[69173886 rows x 3 columns]

### EDA, –æ—Ç–±–æ—Ä —Å—Ç—Ä–æ–∫, —É–¥–∞–ª–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤, –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫ –¥–æ —Ä–µ–≥—É–ª—è—Ä–Ω–æ—Å—Ç–∏, –ø–æ–¥—Å—á–µ—Ç –º–Ω–æ–∂–∏—Ç–µ–ª—è –ò–ü–¶

In [42]:
ds.drop_duplicates(subset=['WebPriceId','CurrentPrice'],keep= False, inplace=True)  # —É–±–∏—Ä–∞–µ–º —Å—Ç—Ä–æ–∫–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤–æ–π —Ü–µ–Ω–æ–π
ds = ds[['WebPriceId','CurrentPrice']]  # —É–±–∏—Ä–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü –°—Ç–æ–∫–°—Ç–∞—Ç—É—Å
ds = ds.dropna()  # —É–±–∏—Ä–∞–µ–º —Å—Ç—Ä–æ–∫–∏ —Å NAN
ds = ds.reset_index() # —Å–±—Ä–∞—Å—ã–≤–∞–µ–º –∏–Ω–¥–µ–∫—Å –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞
ds = ds.drop_duplicates(subset=['DateObserve','WebPriceId'], keep='last') # —É–±–∏—Ä–∞–µ–º —Å—Ç—Ä–æ–∫–∏ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ id –ø–æ –¥–∞—Ç–µ, –æ—Å—Ç–∞–≤–ª—è–µ–º –ø–æ—Å–ª–µ–¥–Ω–∏–µ –≤—Ö–æ–∂–¥–µ–Ω–∏—è
ds=ds.set_index(['DateObserve','WebPriceId']).unstack(fill_value=0).asfreq('M', fill_value=0).stack().sort_index(level=1).reset_index() # –∑–∞–ø–æ–ª–Ω—è–µ–º —Ä—è–¥—ã –¥–æ —Ä–µ–≥—É–ª—è—Ä–Ω–æ—Å—Ç–∏
ds.CurrentPrice = ds.CurrentPrice.replace(to_replace=0, method ='ffill')  # –∑–∞–ø–æ–ª–Ω—è–µ–º –Ω—É–ª–∏ –ø—Ä–µ–¥—ã–¥—É—â–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
ds = ds[(ds != 0).all(1)] # –≤—ã–∫–∏–¥—ã–≤–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏—è —Å 0 - —ç—Ç–æ –ø–µ—Ä–≤—ã–µ –≤—Ä–µ–º–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø–æ–≤–ª–∏—è—é—Ç –Ω–∞ –ø—Ä–æ–≥–Ω–æ–∑
ds

         DateObserve  WebPriceId  CurrentPrice
4            2020-10           2          48.0
5            2020-11           2          48.0
6            2020-12           2          49.0
7            2021-01           2          51.0
8            2021-02           2          51.0
...              ...         ...           ...
29715475     2022-01     1250999        2484.0
29715476     2022-02     1250999        2484.0
29715477     2022-03     1250999        2484.0
29715478     2022-04     1250999        2484.0
29715479     2022-05     1250999        2484.0

[29715476 rows x 3 columns]

In [43]:
#–†–∞—Å—á–µ—Ç –º–Ω–æ–∂–∏—Ç–µ–ª—è –ò–ü–¶
ds['CPI_multi'] = ds['CurrentPrice'].iloc[-1] / ds['CurrentPrice']
df = ds.groupby('DateObserve')['CPI_multi'].mean()
df = df.to_frame(name='cpi_multi')
df

             cpi_multi
DateObserve
2020-06       9.332595
2020-07      28.423599
2020-08      22.090222
2020-09      18.855109
2020-10      17.106960
2020-11      14.347905
2020-12      13.635527
2021-01      13.077064
2021-02      12.623905
2021-03      12.616600
2021-04      12.490594
2021-05      12.234368
2021-06      11.910163
2021-07      11.765804
2021-08      11.618003
2021-09      11.485120
2021-10      11.329597
2021-11      11.151937
2021-12      10.957649
2022-01      10.948250
2022-02      10.822719
2022-03      10.577776
2022-04      10.512181
2022-05      10.470506

### –ó–∞–≥—Ä—É–∑–∫–∞ —Ü–µ–ª–µ–≤–æ–≥–æ –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è, –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö

In [44]:
data = pd.read_excel("/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/Y_train.xlsx", index_col='–ò–ü–¶, –º–æ–º')
data = data.T
data = data.set_index('–ü–µ—Ä–∏–æ–¥')
data = data[['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']]
data.index = pd.to_datetime(data.index).to_period('M')
data

–ò–ü–¶, –º–æ–º –¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å
–ü–µ—Ä–∏–æ–¥
2020-06                0.28
2020-07              -0.065
2020-08              -0.005
2020-09               0.315
2020-10                   0
2020-11               0.375
2020-12                0.35
2021-01                0.38
2021-02               0.685
2021-03               0.255
2021-04                0.13
2021-05               0.485
2021-06                0.25
2021-07              -0.135
2021-08                0.35
2021-09               0.345
2021-10               0.675
2021-11                0.74
2021-12               1.255
2022-01               0.355
2022-02               1.335
2022-03               3.555
2022-04                1.89
2022-05                1.56

In [45]:
ds = df.join(data, how='outer')
ds

             cpi_multi –¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å
DateObserve
2020-06       9.332595               0.28
2020-07      28.423599             -0.065
2020-08      22.090222             -0.005
2020-09      18.855109              0.315
2020-10      17.106960                  0
2020-11      14.347905              0.375
2020-12      13.635527               0.35
2021-01      13.077064               0.38
2021-02      12.623905              0.685
2021-03      12.616600              0.255
2021-04      12.490594               0.13
2021-05      12.234368              0.485
2021-06      11.910163               0.25
2021-07      11.765804             -0.135
2021-08      11.618003               0.35
2021-09      11.485120              0.345
2021-10      11.329597              0.675
2021-11      11.151937               0.74
2021-12      10.957649              1.255
2022-01      10.948250              0.355
2022-02      10.822719              1.335
2022-03      10.577776              3.555
2022-04      10.512181               1.89
2022-05      10.470506               1.56

### –û–±—É—á–µ–Ω–∏–µ

In [46]:
# —Ä–∞–∑–¥–µ–ª—è–µ–º –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ç–µ—Å—Ç–æ–≤—É—é –∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é –≤—ã–±–æ—Ä–∫–∏, –≤ —Ç–µ—Å—Ç–æ–≤–æ–π 1 –º–µ—Å—è—Ü
train, test = ds[0:(len(ds)-1)], ds[(len(ds)-1):]

In [47]:
print('–¢—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–∞—è –≤—ã–±–æ—Ä–∫–∞: ', train.shape)
print('–¢–µ—Å—Ç–æ–≤–∞—è –≤—ã–±–æ—Ä–∫–∞: ', test.shape)

–¢—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–∞—è –≤—ã–±–æ—Ä–∫–∞:  (23, 2)
–¢–µ—Å—Ç–æ–≤–∞—è –≤—ã–±–æ—Ä–∫–∞:  (1, 2)

In [48]:
# –†–∞–∑–¥–µ–ª—è–µ–º –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ç–∞—Ä–≥–µ—Ç –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
y_train= train['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']
x_train = train.drop(labels = ['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å'], axis=1)

y_test = test['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']
x_test = test.drop(labels = ['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å'], axis=1)

In [49]:
# –∏—Å–ø–æ–ª—å–∑—É–µ–º XGBRegressor –¥–ª—è –æ–±—É—á–µ–Ω–∏—è
model = xg.XGBRegressor(objective ='reg:squarederror', n_estimators = 10, seed = 123)
# —Ñ–∏—Ç –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
model.fit(x_train, y_train)
# –¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –Ω–∞ 1 –∑–Ω–∞—á–µ–Ω–∏–µ
pred = model.predict(x_test)

In [50]:
# —Å–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ –º–µ—Ç—Ä–∏–∫–µ MAE
mean_absolute_error(test['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å'], pred)

0.03187578678131109

MAE = 0.0319 - –º–æ–¥–µ–ª—å —Å–¥–µ–ª–∞–ª–∞ —Ö–æ—Ä–æ—à–µ–µ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ

In [ ]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –æ–±—É—á–µ–Ω–Ω—É—é –º–æ–¥–µ–ª—å
model.save_model("model.json")

In [51]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –≤–º–µ—Å—Ç–µ —Å –∏–º–µ—é—â–∏–º–∏—Å—è –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –¶–§ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
ds = ds.reset_index()

y = y_train.reset_index()
y = np.array(y[['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']])
y = np.append(y,pred[0])

tdf = pd.DataFrame({'–ø–µ—Ä–∏–æ–¥':np.array(ds.DateObserve), '—Ü–µ–ª–µ–≤–∞—è —Ñ—É–Ω–∫—Ü–∏—è':y})
tdf

     –ø–µ—Ä–∏–æ–¥ —Ü–µ–ª–µ–≤–∞—è —Ñ—É–Ω–∫—Ü–∏—è
0   2020-06            0.28
1   2020-07          -0.065
2   2020-08          -0.005
3   2020-09           0.315
4   2020-10               0
5   2020-11           0.375
6   2020-12            0.35
7   2021-01            0.38
8   2021-02           0.685
9   2021-03           0.255
10  2021-04            0.13
11  2021-05           0.485
12  2021-06            0.25
13  2021-07          -0.135
14  2021-08            0.35
15  2021-09           0.345
16  2021-10           0.675
17  2021-11            0.74
18  2021-12           1.255
19  2022-01           0.355
20  2022-02           1.335
21  2022-03           3.555
22  2022-04            1.89
23  2022-05        1.528124

In [ ]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∫–∞–∫ —Ñ–∞–π–ª json
tdf.to_json(f'result.json',orient = 'split',index = False)

### –°–∫—Ä–∏–ø—Ç –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –ø—Ä–æ–≥–Ω–æ–∑–∞ –≤ —Ñ–æ—Ä–º–∞—Ç–µ json –∏ –æ–±—É—á–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏ –≤ —Ñ–æ—Ä–º–∞—Ç–µ json

In [36]:
%%writefile forecast.py
# –ü—Ä–∏–º–µ—Ä –∑–∞–ø—É—Å–∫–∞: run test_forecast.py "DS_train(2020-06--2022-06-01).csv" "learn" "Y_train.xlsx"
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import argparse

# –∏–º–ø–æ—Ä—Ç –º–æ–¥–µ–ª–µ–π
import xgboost as xg

# –∏–º–ø–æ—Ä—Ç –º–µ—Ç—Ä–∏–∫–∏
from sklearn.metrics import mean_absolute_error

def run_neural_network(path: str, is_forecast: str, target_path: str):
    # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ, —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –º–µ—Å—è—á–Ω—ã–π –ø–µ—Ä–∏–æ–¥
    ds=pd.read_csv(path, sep='\t', index_col='DateObserve')
    ds.index = pd.to_datetime(ds.index).to_period('M')

    # –£–±–∏—Ä–∞–µ–º –∏–∑ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏, –¥—É–±–ª–∏–∫–∞—Ç—ã, –∑–∞–ø–æ–ª–Ω—è–µ–º –¥–æ –æ–¥–Ω–æ—Ä–æ–¥–Ω—ã—Ö –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫
    ds.drop_duplicates(subset=['WebPriceId','CurrentPrice'],keep= False, inplace=True)
    ds = ds[['WebPriceId','CurrentPrice']]
    ds = ds.dropna()
    ds = ds.reset_index()
    ds = ds.drop_duplicates(subset=['DateObserve','WebPriceId'], keep='last')
    ds=ds.set_index(['DateObserve','WebPriceId']).unstack(fill_value=0).asfreq('M', fill_value=0).stack().sort_index(level=1).reset_index()
    ds.CurrentPrice = ds.CurrentPrice.replace(to_replace=0, method ='ffill')
    ds = ds[(ds != 0).all(1)]

    #–†–∞—Å—á–µ—Ç –º–Ω–æ–∂–∏—Ç–µ–ª—è –ò–ü–¶
    ds['CPI_multi'] = ds['CurrentPrice'].iloc[-1] / ds['CurrentPrice']
    df = ds.groupby('DateObserve')['CPI_multi'].mean()

    df = df.to_frame(name='cpi_multi')

    if (is_forecast =="learn"):
      # –∑–∞–≥—Ä—É–∂–∞–µ–º —Ç–∞—Ä–≥–µ—Ç 

      data = pd.read_excel(target_path, index_col='–ò–ü–¶, –º–æ–º')
      data = data.T
      data = data.set_index('–ü–µ—Ä–∏–æ–¥')
      data = data[['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']]
      data.index = pd.to_datetime(data.index).to_period('M')
      # —Å–æ–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—ã
      ds = df.join(data, how='outer')

      """ —Ä–∞–∑–¥–µ–ª—è–µ–º –Ω–∞ —Ç–µ—Å—Ç–æ–≤—É—é –∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é –≤—ã–±–æ—Ä–∫–∏"""

      train, test = ds[0:(len(data)-1)], ds[(len(data)-1):]

      # –î–µ–ª–∏–º –≤—ã–±–æ—Ä–∫–∏ –Ω–∞ —Ç–∞—Ä–≥–µ—Ç –∏ —Ñ–∏—á–∏
      y_train= train['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']
      x_train = train.drop(labels = ['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å'], axis=1)

      y_test = test['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']
      x_test = test.drop(labels = ['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å'], axis=1)


      model = xg.XGBRegressor(objective ='reg:squarederror',
                      n_estimators = 10, seed = 123)

      # –§–∏—Ç
      model.fit(x_train, y_train)
      
      # –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ
      pred = model.predict(x_test)
      #mean_absolute_error(test['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å'], pred)
      model.save_model("model.json")
 
    # —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ —Ç–∞–±–ª–∏—Ü—ã

      ds = ds.reset_index()
      y = y_train.reset_index()
      y = np.array(y[['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']])
      y = np.append(y,pred[0])

      tdf = pd.DataFrame({'–ø–µ—Ä–∏–æ–¥':np.array(ds.DateObserve), '—Ü–µ–ª–µ–≤–∞—è —Ñ—É–Ω–∫—Ü–∏—è':y})

      tdf.to_json(f'result.json',orient = 'split',index = False)
      #return tdf.to_json(f'result.json',orient = 'split',index = False)


if __name__ == "__main__":
    """–ø–æ–ª—É—á–µ–Ω–∏–µ –ø—É—Ç–∏ –∫ —Ñ–∞–π–ª—É –∏ –∏–º–µ–Ω–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞"""
    parser = argparse.ArgumentParser(description='–ü–µ—Ä–µ–¥–∞–π—Ç–µ –ø—É—Ç—å –∫ –¥–∞—Ç–∞—Å–µ—Ç—É , —Å–ª–æ–≤–æ learn –∏ –ø—É—Ç—å –∫ —Ü–µ–ª–µ–≤—ã–º —Ñ—É–Ω–∫—Ü–∏—è–º')
    parser.add_argument('path', type=str)
    parser.add_argument('forecast', type=str)
    parser.add_argument('target_path', type=str)
    args = parser.parse_args()

    path = args.path
    is_forecast = args.forecast # = "learn"
    target_path = args.target_path

    run_neural_network(path, is_forecast, target_path)

Overwriting forecast.py

In [ ]:
%run forecast.py "/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/DS_train(2020-06--2022-06-01).csv" "learn" "/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/Y_train.xlsx"

### –°–∫—Ä–∏–ø—Ç –¥–ª—è –ø—Ä–æ—Ö–æ–∂–¥–µ–Ω–∏—è –ø–µ—Ä–∏–æ–¥–∞ –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–¥–∞–ø—Ç–∏–≤–Ω–æ—Å—Ç–∏ –∏ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è –º–æ–¥–µ–ª–∏

–§–∞–π–ª –∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞–ª—Å—è –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç Y_train —Ç.–∫. Y_train_adapt –∏–º–µ–µ—Ç –¥—Ä—É–≥–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ —Å —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π

In [38]:
%%writefile test_forecast.py
# –ü—Ä–∏–º–µ—Ä –∑–∞–ø—É—Å–∫–∞: run test_forecast.py "DS_train(2020-06--2022-06-01).csv" "test_1.txt" "Y_train.xlsx"
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import argparse

# –∏–º–ø–æ—Ä—Ç –º–æ–¥–µ–ª–µ–π
import xgboost as xg

def run_model(path: str, filename:str, target_path: str):
    # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ, —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –º–µ—Å—è—á–Ω—ã–π –ø–µ—Ä–∏–æ–¥
    ds=pd.read_csv(path, sep='\t', index_col='DateObserve')
    ds.index = pd.to_datetime(ds.index).to_period('M')

    # –£–±–∏—Ä–∞–µ–º –∏–∑ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏, –¥—É–±–ª–∏–∫–∞—Ç—ã, –∑–∞–ø–æ–ª–Ω—è–µ–º –¥–æ –æ–¥–Ω–æ—Ä–æ–¥–Ω—ã—Ö –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫
    ds.drop_duplicates(subset=['WebPriceId','CurrentPrice'],keep= False, inplace=True)
    ds = ds[['WebPriceId','CurrentPrice']]
    ds = ds.dropna()
    ds = ds.reset_index()
    ds = ds.drop_duplicates(subset=['DateObserve','WebPriceId'], keep='last')
    ds=ds.set_index(['DateObserve','WebPriceId']).unstack(fill_value=0).asfreq('M', fill_value=0).stack().sort_index(level=1).reset_index()
    ds.CurrentPrice = ds.CurrentPrice.replace(to_replace=0, method ='ffill')
    ds = ds[(ds != 0).all(1)]

    #–†–∞—Å—á–µ—Ç –º–Ω–æ–∂–∏—Ç–µ–ª—è –ò–ü–¶
    ds['CPI_multi'] = ds['CurrentPrice'].iloc[-1] / ds['CurrentPrice']
    df = ds.groupby('DateObserve')['CPI_multi'].mean()

    df = df.to_frame(name='cpi_multi')

    # –∑–∞–≥—Ä—É–∂–∞–µ–º —Ç–∞—Ä–≥–µ—Ç 

    data = pd.read_excel(target_path, index_col='–ò–ü–¶, –º–æ–º')
    data = data.T
    data = data.set_index('–ü–µ—Ä–∏–æ–¥')
    #if 'adp' in filename:
    data = data[['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å (–¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–¥–∞–ø—Ç–∏–≤–Ω–æ—Å—Ç–∏)']]
    #else:
    #  data = data[['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å']]
    data.index = pd.to_datetime(data.index).to_period('M')
    # —Å–æ–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—ã
    ds = df.join(data, how='outer')

    """ —Ä–∞–∑–¥–µ–ª—è–µ–º –Ω–∞ —Ç–µ—Å—Ç–æ–≤—É—é –∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω—É—é –≤—ã–±–æ—Ä–∫–∏"""

    train, test = ds[0:(len(data)-1)], ds[(len(data)-1):]

    # –£–±–∏—Ä–∞–µ–º –∏–∑ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–æ–π –≤—ã–±–æ—Ä–∫–∏ —Ç–∞—Ä–≥–µ—Ç
    y_train= train['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å (–¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–¥–∞–ø—Ç–∏–≤–Ω–æ—Å—Ç–∏)']
    x_train = train.drop(labels = ['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å (–¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–¥–∞–ø—Ç–∏–≤–Ω–æ—Å—Ç–∏)'], axis=1)

    y_test = test['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å (–¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–¥–∞–ø—Ç–∏–≤–Ω–æ—Å—Ç–∏)']
    x_test = test.drop(labels = ['–¶–µ–ª–µ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å (–¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –∞–¥–∞–ø—Ç–∏–≤–Ω–æ—Å—Ç–∏)'], axis=1)


    model = xg.XGBRegressor(objective ='reg:squarederror',
                      n_estimators = 10, seed = 123)

    # Fitting the model
    model.fit(x_train, y_train)
      
    # Predict the model
    pred = model.predict(x_test)

    model.save_model("test_model.json")
 
    # –∑–∞–ø–∏—Å—ã–≤–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ —Ñ–∞–π–ª

    f = open(filename,"w+")
    f.write(str(pred[0]))
    f.close()

if __name__ == "__main__":
    """–ø–æ–ª—É—á–µ–Ω–∏–µ –ø—É—Ç–∏ –∫ —Ñ–∞–π–ª—É –∏ –∏–º–µ–Ω–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞"""
    parser = argparse.ArgumentParser(description='–ü–µ—Ä–µ–¥–∞–π—Ç–µ –ø—É—Ç—å –∫ –¥–∞—Ç–∞—Å–µ—Ç—É –∏ —Ü–µ–ª–µ–≤–æ–π —Ñ—É–Ω–∫—Ü–∏–∏, –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–∞–π–ª–∞ –¥–ª—è —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è')
    parser.add_argument('path', type=str)
    parser.add_argument('filename', type=str)
    parser.add_argument('target_path', type=str)
    args = parser.parse_args()

    path = args.path
    filename = args.filename
    target_path = args.target_path

    run_model(path,filename, target_path)

Overwriting test_forecast.py

In [ ]:
%run test_forecast.py "/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/DS_train(2020-06--2022-06-01).csv" "test_1.txt" "/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/Y_train.xlsx"

In [35]:
%run test_forecast.py "/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/DS_test2(2020-06--2022-06-21).csv" "test_adp_2.txt" "/content/drive/MyDrive/–ò–ò_–ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç_–∏–Ω—Ñ–ª—è—Ü–∏—é/Y_train_adaptive.xlsx"